@import '/pages/home/home.css';
@import '/pages/action/action.css';

.button.is-rounded{
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
}

.hidden {
  display: none;
}